<!DOCTYPE html>
<html>
<head>
    <title>SoftUni Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type= "text/javascript" src="/javascripts/jquery-3.3.1.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="navbar navbar-default navbar-fixed-top text-uppercase navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">SoftUni Blog</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            {{#if user}}
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/user/details"><span class="glyphicon glyphicon-user"></span> Welcome({{user.fullName}})</a></li>
                        <li><a href="/article/create"><span class="glyphicon glyphicon-file"></span> New Article</a></li>
                        <li><a href="/user/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </div>
            {{/if}}
            {{#unless user}}
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/user/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                        <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            {{/unless}}
        </div>
    </div>
</header>
{{{body}}}
</body>
<footer>
    <div class="container modal-footer">
        <p>&copy; 2018 - Software University Foundation</p>
    </div>
</footer>
</html>
